In [1]:
# simple statistics with a list of numbers

In [ ]:
#req:want to find the minium value, maxiumum value and sum of total value present in a list

In [22]:
digits= [1,2,3,4,5,6,7,8,9,10,11,12]
min(digits)

1

In [20]:
max(digits)

12

In [24]:
sum(digits)

78

In [25]:
#working with part of list

In [28]:
students=['ashok','tarun','shravya','ravi','mehtab','diksha','saurabh','eshwari']
print(students)

['ashok', 'tarun', 'shravya', 'ravi', 'mehtab', 'diksha', 'saurabh', 'eshwari']

In [29]:
#slicing the list

In [30]:
len(students)

8

In [ ]:
# Indexing starts from 0,1,2, ......
# Req: Print the names of first 2 Students.
print(Students[0:1])# Since indexing starts from 0 and the last value is exclusive therefore it is displaying only 1 value.

In [43]:
print (students[0:2])

['ashok', 'tarun']

In [45]:
print(students[2:4])

['shravya', 'ravi']

In [46]:
print(students[4:6])

['mehtab', 'diksha']

In [47]:
print(students[6:8])

['saurabh', 'eshwari']

In [ ]:
students=['ashok','tarun','shravya','ravi','mehtab','diksha','saurabh','eshwari']

In [48]:
# General Syntax of slicing --> Start value, Stop value, Step count
# Req: Take every alternate number in the list.
# eg, Ashok - Shravya - Mehtab

In [52]:
print(students[0:8:3])

['ashok', 'ravi', 'saurabh']

In [58]:
print(students[0:8:2])

['ashok', 'shravya', 'mehtab', 'saurabh']

In [53]:
#copying a list

In [54]:
my_food =['pizza','burger','cake']
friends_food = my_food[:]
print(friends_food)

['pizza', 'burger', 'cake']

In [63]:
print('my fav food are:')
print(my_food)
print('my fav food are:')
print(friends_food)

my fav food are:
['pizza', 'burger', 'cake']
my fav food are:
['pizza', 'burger', 'cake']

In [ ]:
# Adding values in the existing list

In [64]:
my_food.append('Corn')
friends_food.append('Chocolate')
print(my_food)
print(friends_food)

['pizza', 'burger', 'cake', 'Corn']
['pizza', 'burger', 'cake', 'Chocolate']

In [66]:
friends_food=my_food
print(friends_food)
print('\n')
print(my_food)

['pizza', 'burger', 'cake', 'Corn']


['pizza', 'burger', 'cake', 'Corn']

In [ ]:
# Introduction to Tuple Data Type
# Tupple is considered an immutable data type, No Alteration, No Assignment is possible in this data type.
# How to define a tuple ----- by using()

In [70]:
dimensions =(200,50)
print(dimensions)

(200, 50)

In [72]:
type(dimensions)

tuple

In [76]:
dimensions[0]=250 #Note the error message, it clearly says, TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [77]:
dimension =[250,50]
print(250,50)

250 50

In [78]:
print(dimension[1])

50

In [ ]:
Thanks